body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 导航栏样式 */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    background-color: steelblue;
    color: white;  
}


.wrap{
    width: 1226px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.title {
    margin-top: 10px;
    font-size: 2.5em;
    color: #8c4356;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navigation .logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* 添加过渡效果 */
    font-size: 1.5em;
}
.nav-links a:hover {
    color: #ff4500; /* 橘红色 */
}






.card-section {
    padding: 20px;
}

.ex-container{
    width: 1226px;
    margin: 0 auto; 
}

.card-section h2 {
    margin-bottom: 10px;
}

.card-section hr {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 45%;
    margin: 1%;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.card img {
    width: 400px;
    height:400px;
}

